h1{
	text-align: left;
}
#header h1{
	text-align: right;
}
#logo{
	float: left;
	margin-left: 0px;
	width: 20%;
}
#name{
	float: left;
	width: 80%;
}

h2{
	text-align: left;
	line-height: 1.5em;
	margin-bottom: 20px;
}
h3{
	margin-top: ;
	text-align: right;
}
#content h3{
	text-align: left;
}
h6{
	margin-bottom: 10px;
	text-align: center;
}
#date{
	text-align: left;
}
#nextevent2 h4{
	text-align: left;
}
#nextevent{
	display: none;
	}
#nextevent2{
	display: inline-block;
	width: 100%;
	}	
#content{
	margin-top: 20px;
	width: 100%;
	clear: both;
	}
#map{
	text-align: center;
}
.handlers{
	text-align: center;
}
.profile{
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 10px;
	width: 90%;
}
.description2{
	float: none;
}